---
layout: default
---
<article class="post">
    <header class="post-header">
        <div class="container">
            <h1>{{ page.title }}</h1>
            <p class="card-meta">
                <time datetime="{{ page.date | date_to_xmlschema }}">
                    {{ page.date | date: "%B %-d, %Y" }}
                </time>
                {% if page.category %}
                &bull; <span>{{ page.category }}</span>
                {% endif %}
            </p>
        </div>
    </header>

    <div class="post-content container">
        {{ content }}
    </div>
</article>